.buttonUnderLine {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  padding: 0.8rem 1.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttonUnderLine__line {
  width: 100%;
  height: 2px;
  border-radius: 1rem;
  will-change: transform;
}

.buttonUnderLine.fullWidth {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .buttonUnderLine {
    padding: 0.6rem 1rem;
  }

  .buttonUnderLine.fullWidth {
    padding: 0.4rem 0;
  }
}
